//file_property
.form_row {
  display: flex;
  margin-bottom: 10px; 
}

input[type="submit"],
.button {
  background: $main;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

.buttonBlack {
  background: black;
  border: 1px solid white;
}